/* You can add global styles to this file, and also import other style files */
@import '../node_modules/chordprojs/lib/chordpro.css';

.mainBody {
    background-color: #d7ccc8;
}

html {
    height: 100%;
}

.footerButtons {
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: #5b5c5c;
}

.allFooters {
    background-color: #bcaaa4;
}

.footers {
    color: black;
}