h5 {
    margin-top: 3%;
}

.userChords {
    margin-bottom: 5%;
}

.formButtons {
    margin-top: 3%;
}

.editForm {
    padding: 2%;
}

.collapsible-header {
    font-size: 20px;
    background-color: #4ca7b3;
}

.collapsible-body {
    font-size: 18px;
}

.lastUpdatedAndVersion {
    font-size: 1rem;
}

.clearButton, .saveButton {
    margin-top: 7px;
}