.loginStatus {
    margin-bottom: 3%;
}

.chordzLogo {
    margin-right: 0 !important;
    font-size: 50px;
}

.mainNavbar {
    background-color: #37474f;
}

#publicChordEmail {
    overflow-wrap: break-word;
}

#loginAndSignUpButtons {
    border-right-style: solid;
    border-right-color: white;
}

#myChordz {
    border-left-style: solid;
    border-left-color: white;
}

.menuButton, #fullscreenExitButton {
    background-color: #37474f;
    color: white;
    padding: 10px;
    border-top-style: solid;
    border-top-color: #546e7a;
    border-top-width: 2px;
}

.menuButton:hover {
    background-color: #546e7a;
    color:black;
}

.publicChords {
    margin-bottom: 5%;
    margin-top: 2%;
}

.collapsible-header {
    font-size: 20px;
}

.collapsible-body {
    font-size: 18px;
}

.modal {
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0% !important;
    bottom: 0%;
}

.collection-header {
    font-size: 35px;
    background-color: #ce93d8;
}

.collection-item {
    font-size: large;
    background-color: #e1bee7;
    line-height: inherit;
}


.chordSheet {
    padding: 2rem;
    border-left-color: #e1bee7;
    border-left-style: inset;
}

.chordSheetInfo {
    padding: 1rem;
}

#fullscreenModeButton1Icon, #fullscreenModeButton1 {
    font-size: 3rem;
    height: 50px;
    width: 50px;
    line-height: 50px;
    padding: 0;
}

#fullscreenModeButton2, #fullscreenModeButton2Icon {
    font-size: 2.5rem;
    line-height: 40px;
    padding: 0;
    height: 40px;
    width: 40px;
}

#fullscreenNote {
    font-size: 1.5rem;
}

.fullscreenExitButtonDiv {
    margin-bottom: 0;
}

.allFooters {
    background-color: #bcaaa4;
}

.footers {
    color: black;
}