<div *ngIf="auth.authenticated() && auth.userProfile && getUserChordsJson()">
    
    <h4 class="center">Welcome {{auth.userProfile.name}}!</h4>
    
    <div class="container">
        <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion"> <!-- onclick="$(document).ready(function(){ $('.collapsible').collapsible(); });" -->
             <li>
                <div class="collapsible-header cyan lighten-3">CREATE CHORDZ</div>
                <div class="collapsible-body cyan lighten-5">
                    <div class="row createForm">
                        <form class="col s12">
                            <div class="row center">
                                <div class="switch" id="publicSwitchCreate">
                                    <label id="switchLabels">
                                        Private
                                        <input type="checkbox" #isPublic>
                                        <span class="lever"></span>
                                        Public
                                    </label>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" type="text" class="validate" #title>
                                    <label for="title">Title</label>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="version" type="number" class="validate" #version>
                                    <label for="version">Version</label>
                                </div>
                            </div> -->                           
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="chordDoc" type="text" class="materialize-textarea validate" #chordDoc></textarea>
                                    <label for="chordDoc">Chordz</label>
                                </div>
                            </div>
                        </form>
                        <div class="col s12 center createButton">
                            <button class="btn" (click)="createChordSheet(isPublic.checked, chordDoc.value)">Create</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>       
    </div>
    
    <div class="block center">
        <a href="/profile/edit-chords"><button class="btn editButton cyan lighten-3">EDIT CHORDZ</button></a>
    </div>

    <h5 class="center">YOUR CHORDZ</h5>
    <h6 class="center"><strong>NOTE:</strong> If your newly created chord sheet does not show then you might have an error in your chord sheet. Check out <a href="/profile/errors">this</a> page for more details.</h6>
    
    <div class="container userChords">
        <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
            <li *ngFor="let userChord of userChords">
                <div class="collapsible-header teal lighten-5"><strong>{{ userChord.title }}</strong> by <em>{{ userChord.email }}</em></div>
                <div class="collapsible-body teal lighten-4">
                    
                    <div class="right">
                        <i class="medium material-icons right waves-effect waves-light modal-trigger" (click)="openModal()">launch</i>
                    </div>

                    <!-- {{ getPrivacy(userChord.isPublic) }}<br/><br/> -->
                    
                    <p>Version: {{ userChord.version }}<br/><br/>
                    Last Updated: {{ userChord.lastUpdated }}
                    </p>
                    <div class="switch" id="publicSwitch">
                        Privacy:
                        <label id="switchLabels">
                            Private
                            <input type="checkbox" (change)="changePrivacy(userChord.title, userChord.version, isPublic.checked)" [checked]="userChord.isPublic" #isPublic />
                            <span class="lever"></span>
                            Public
                        </label>
                    </div>
                    <p>
                    Chordz:<br/><br/>
                    <span [innerHTML]="userChord.chordDoc"></span></p>
                    <div class="col s12 center deleteButton">
                        <button class="btn red darken-2" (click)="deleteChordSheet(userChord.title, userChord.version)"><i class="material-icons right">delete</i>Delete</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="modal1" class="modal" materialize="modal" [materializeActions]="modalActions">
    <a class="waves-effect btn-flat right" (click)="closeModal()"><i class="material-icons right">clear</i>Close</a>
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>