<div *ngIf="auth.authenticated() && auth.userProfile && getUserChordsJson()">
    
    <h4 class="center">Welcome {{auth.userProfile.name}}!</h4>
    
    <div class="container">
        <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
             <li>
                <div class="collapsible-header cyan lighten-3">CREATE CHORDZ</div>
                
                <div class="collapsible-body cyan lighten-5">
                    <div class="row createForm">
                        <form class="col s12">
                            
                            <div class="row center">
                                <div class="switch" id="publicSwitchCreate">
                                    <label id="switchLabels">
                                        Private
                                        <input type="checkbox" #isPublic>
                                        <span class="lever"></span>
                                        Public
                                    </label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="chordDoc" type="text" class="materialize-textarea validate" #chordDoc></textarea>
                                    <label for="chordDoc">Chord Sheet</label>
                                </div>
                            </div>
                            
                        </form>
                        
                        <div class="col s12 center createButton">
                            <button class="btn" (click)="createChordSheet(isPublic.checked, chordDoc.value)"><i class="material-icons right">add</i>Create</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>       
    </div>
    
    <div class="block center">
        <a href="/profile/edit-chords"><button class="btn editButton cyan lighten-3"><i class="material-icons right">create</i>EDIT CHORDZ</button></a>
    </div>

    <h5 class="center">YOUR CHORDZ</h5>
    
    <div class="container userChords">
        <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
            <li *ngFor="let userChord of userChords">
                
                <div class="collapsible-header teal lighten-5"><strong>{{ userChord.title }}</strong> -> <em>Version {{ userChord.version }}</em></div>
                
                <div class="collapsible-body teal lighten-4">
                    
                    <a materialize="tooltip" class="btn-flat right hide-on-small-only tooltipped modal-trigger" id="fullscreenModeButton1User" data-position="left" data-delay="50" data-tooltip="Fullscreen Mode" (click)="openModal('user' + userChord._id)"><i id="fullscreenModeButton1IconUser" class="material-icons center">launch</i></a>
                    <a class="btn-flat right hide-on-med-and-up modal-trigger" id="fullscreenModeButton2User" (click)="openModal('user' + userChord._id)"><i id="fullscreenModeButton2IconUser" class="material-icons center">launch</i></a>
                    
                    <p id="chordMetadata">
                        Version: {{ userChord.version }}<br/><br/>
                        Author: {{ userChord.email }}<br/><br/>
                        Last Updated: {{ userChord.lastUpdated }}
                    </p>
                    
                    <div class="switch" id="publicSwitch">
                        Privacy:
                        <label id="switchLabels">
                            Private
                            <input type="checkbox" (change)="changePrivacy(userChord.title, userChord.version, isPublic.checked)" onchange="Materialize.toast('Privacy Setting Changed!', 4000)" [checked]="userChord.isPublic" #isPublic/>
                            <span class="lever"></span>
                            Public
                        </label>
                    </div>
                    
                    <p>
                        Chord Sheet:<br/><br/>
                        <span [innerHTML]="userChord.chordDoc"></span>
                    </p>
                    
                    <!-- Modal Structure for Full Screen -->
                    <div [attr.id]="'user' + userChord._id" class="modal userChordModal" materialize="modal">
                        <h6 id="fullscreenNote" class="center hide-on-small-only">Press Esc to Exit Fullscreen Mode</h6>
                        
                        <div class="row center hide-on-med-and-up fullscreenExitButtonDiv">
                            <div id="fullscreenExitButton" class="col s12" (click)="closeModal('user' + userChord._id)" >EXIT FULLSCREEN MODE</div>
                        </div>
                        
                        <div id="userChordz" class="modal-content" onmousedown='return false;' onselectstart='return false;'>
                            <ul class="collection">
                                <li class="collection-item">
                                    
                                    <div class="row hide-on-small-only">
                                        <div class="col s5 chordSheetInfo">
                                            <p>Title: {{ userChord.title }} <br/><br/>
                                            Version: {{ userChord.version }}<br/><br/>
                                            Author: {{ userChord.email }}<br/><br/>
                                            Privacy: {{ getPrivacy(userChord.isPublic) }}<br/><br/>
                                            Last Updated: {{ userChord.lastUpdated }}<br/><br/></p>
                                        </div>
                                        <div class="col s7 chordSheet">
                                            <span [innerHTML]="userChord.chordDoc"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="row hide-on-med-and-up">
                                        <div class="col s12">
                                            <p>Title: {{ userChord.title }} <br/><br/>
                                            Version: {{ userChord.version }}<br/><br/>
                                            Author: {{ userChord.email }}<br/><br/>
                                            Privacy: {{ getPrivacy(userChord.isPublic) }}<br/><br/>
                                            Last Updated: {{ userChord.lastUpdated }}<br/><br/>
                                            Chord Sheet:<br/><br/>
                                            <span [innerHTML]="userChord.chordDoc"></span></p>
                                        </div>
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                        
                    </div>   
                    
                    <div class="row center">
                        
                        <div class="col s12 deleteRenameButtons">
                            <button class="btn red darken-2 deleteButton" (click)="deleteChordSheet(userChord.title, userChord.version)"><i class="material-icons right">delete</i>Delete</button>
                            <button class="btn blue darken-3 modal-trigger renameButton" (click)="openModal('rename' + userChord._id)"><i class="material-icons right">create</i>Rename</button>
                        </div>
                        
                        <!-- Modal Structure for Renaming -->
                        <div [attr.id]="'rename' + userChord._id" class="modal" materialize="modal">
                            <div class="modal-content">
                                
                                <form>
                                    <div class="input-field">
                                        <input type="text" name="newTitle" #newTitle/>
                                        <label for="newTitle">New Title</label>
                                    </div>
                                </form>
                                
                                <div class="row center">
                                    <div class="col s12">
                                        <button class="btn" (click)="closeModal('rename' + userChord._id)"><i class="material-icons right">clear</i>Cancel</button>
                                        <button class="btn" (click)="renameChordSheet(userChord.title, userChord.version, userChord.chordDoc, isPublic.checked, newTitle)"><i class="material-icons right">done</i>Confirm</button>                
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </li>
        </ul>
    </div>
    
</div>

