h4, h5 {
    margin-top: 3%;
}

.userChords {
    margin-bottom: 5%;
}

.createButton {
    margin-top: 3%;
}

#publicSwitchCreate {
    margin-top: 3%;
}

#publicSwitch {
    margin-left: 2rem;
}

#switchLabels {
    color: #4e342e;
    font-size: 15px;
    margin-left: 2%;
}

.createForm {
    padding: 2%;
}

.collapsible-header {
    font-size: 20px;
}

.collapsible-body {
    font-size: 18px;
}

.editButton {
    width: 70%;
    height: 44px;
    color: black;
    font-size: 20px;
    text-align: left;
}

.deleteRenameButtons {
    margin-bottom: 3%;
}

.deleteButton, .renameButton, .renameCancelButton, .renameOkayButton {
    margin-top: 7px;
}

h6 {
    margin-bottom: 2%;
}

#fullscreenModeButton1IconUser, #fullscreenModeButton1User {
    font-size: 3rem;
    height: 50px;
    width: 50px;
    line-height: 50px;
    padding: 0;
}

#fullscreenModeButton2User, #fullscreenModeButton2IconUser {
    font-size: 2.5rem;
    line-height: 40px;
    padding: 0;
    height: 40px;
    width: 40px;
}

.userChordModal {
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0% !important;
    bottom: 0%;
}

.collection-header {
    font-size: 35px;
    background-color: #ce93d8;
}

.collection-item {
    font-size: large;
    background-color: #e1bee7;
    line-height: inherit;
}

.chordSheet {
    padding: 2rem;
    border-left-color: #e1bee7;
    border-left-style: inset;
}

.chordSheetInfo {
    padding: 1rem;
}

#fullscreenExitButton {
    background-color: #37474f;
    color: white;
    padding: 10px;
    border-top-style: solid;
    border-top-color: #546e7a;
    border-top-width: 2px;
}

.fullscreenExitButtonDiv {
    margin-bottom: 0;
}