<div *ngIf="auth.authenticated() && auth.userProfile && getUserChordsJson()">
    
    <h4 class="center">Welcome {{auth.userProfile.name}}!</h4>
    
    <div class="container">
        <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion"> <!-- onclick="$(document).ready(function(){ $('.collapsible').collapsible(); });" -->
             <li>
                <div class="collapsible-header cyan lighten-3">CREATE CHORDZ</div>
                <div class="collapsible-body cyan lighten-5">
                    <div class="row createForm">
                        <form class="col s12">
                            <div class="row center">
                                <div class="switch" id="publicSwitchCreate">
                                    <label id="switchLabels">
                                        Private
                                        <input type="checkbox" #isPublic>
                                        <span class="lever"></span>
                                        Public
                                    </label>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" type="text" class="validate" #title>
                                    <label for="title">Title</label>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="version" type="number" class="validate" #version>
                                    <label for="version">Version</label>
                                </div>
                            </div> -->                           
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="chordDoc" type="text" class="materialize-textarea validate" #chordDoc></textarea>
                                    <label for="chordDoc">Chord Sheet</label>
                                </div>
                            </div>
                        </form>
                        <div class="col s12 center createButton">
                            <button class="btn" (click)="createChordSheet(isPublic.checked, chordDoc.value)"><i class="material-icons right">add</i>Create</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>       
    </div>
    
    <div class="block center">
        <a href="/profile/edit-chords"><button class="btn editButton cyan lighten-3"><i class="material-icons right">create</i>EDIT CHORDZ</button></a>
    </div>

    <h5 class="center">YOUR CHORDZ</h5>
    <h6 class="center"><strong>NOTE:</strong> If your newly created chord sheet does not show then you might have an error in your chord sheet. Check out <a href="/profile/errors">this</a> page for more details.</h6>
    
    <div class="container userChords">
        <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
            <li *ngFor="let userChord of userChords">
                <div class="collapsible-header teal lighten-5"><strong>{{ userChord.title }}</strong> by <em>{{ userChord.email }}</em></div>
                <div class="collapsible-body teal lighten-4">

                    <!-- {{ getPrivacy(userChord.isPublic) }}<br/><br/> 
                    <div class="row renamingDiv">
                        <div class="col s6 newTitle">
                            <div class="input-field">
                                <input type="text" name="newTitle" [value]="userChord.title" #newTitle/>
                                <label for="newTitle" class="active">New Title</label>
                            </div>
                        </div>
                        <div class="col s4 renameButton center">
                            <button class="btn blue darken-3" (click)="renameChordSheet(userChord.title, userChord.version, userChord.chordDoc, userChord.isPublic, newTitle)"><i class="material-icons right">create</i>Rename</button>
                        </div>
                    </div> -->

                    <p id="chordMetadata">Version: {{ userChord.version }}<br/><br/>
                    Author: {{ userChord.email }}<br/><br/>
                    Last Updated: {{ userChord.lastUpdated }}
                    </p>
                    <div class="switch" id="publicSwitch">
                        Privacy:
                        <label id="switchLabels">
                            Private
                            <input type="checkbox" (change)="changePrivacy(userChord.title, userChord.version, isPublic.checked)" onchange="Materialize.toast('Privacy Setting Changed!', 4000)" [checked]="userChord.isPublic" #isPublic/>
                            <span class="lever"></span>
                            Public
                        </label>
                    </div>
                    <p>
                    Chord Sheet:<br/><br/>
                    <span [innerHTML]="userChord.chordDoc"></span></p>
                    
                    <div class="row center">
                        <div class="col s12 deleteButton">
                            <button class="btn red darken-2" (click)="deleteChordSheet(userChord.title, userChord.version)"><i class="material-icons right">delete</i>Delete</button>
                            <button class="btn blue darken-3 modal-trigger" (click)="openModal('rename' + userChord._id)"><i class="material-icons right">create</i>Rename</button>
                        </div>
                        
                        <!-- Modal Structure -->
                        <div [attr.id]="'rename' + userChord._id" class="modal" materialize="modal">
                            <div class="modal-content">
                                <form>
                                    <div class="input-field">
                                        <input type="text" name="newTitle" #newTitle/>
                                        <label for="newTitle">New Title</label>
                                    </div>
                                </form>
                                <div class="row center">
                                    <div class="col s12">
                                        <button class="btn" (click)="closeModal('rename' + userChord._id)"><i class="material-icons right">clear</i>Cancel</button>
                                        <button class="btn" (click)="renameChordSheet(userChord.title, userChord.version, userChord.chordDoc, isPublic.checked, newTitle)"><i class="material-icons right">done</i>Confirm</button>                
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
</div>

