<body>
    <h1>Possible Errors with ChordPro Formatting</h1>
    <ul>
        <li>Starting curly brace anywhere other than at the start of the line.</li>
        <li>Ending curly brace anywhere other than at the end of the line (after removing whitespace).</li>
        <li>Missing "title" directive before start of lyrics.</li>
        <li>More than one "title" directive within the same "new_song" block.</li>
        <li>Missing separator (":") or text for "title", "subtitle", "comment" or "define" directives.</li>
        <li>Extra characters for "soc", "eoc", "sot" or "eot" directives.</li>
    </ul>
</body>