<div class="row container center inputFields">
    <form class="col s12">
        <div class="row">
            <div id="usernameField" class="input-field col s12">
                <input id="username" type="text" class="validate center" #username>
                <label for="username">Username</label>
            </div><br/>
        </div>
        <div class="row">
            <div id="passwordField" class="input-field col s12">
                <input id="password" type="password" class="validate center" #password>
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit(username.value, password.value)">Submit</button>
    </form>
</div>