<div class="container">
    <h1 style="text-align: center;">Disclaimer</h1>
    <p>Last updated: November 26, 2016</p>
    <p>The information contained on https://se3316a-lab5-kpate222.c9users.io:8081 website (the "Service") is for general information purposes only.</p>
    <p>Chordz assumes no responsibility for errors or omissions in the contents on the Service.</p>
    <p>In no event shall Chordz be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. Chordz reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.</p>
    <p>Chordz does not warrant that the website is free of viruses or other harmful components.</p>
    <p><strong>External links disclaimer</strong></p>
    <p>https://se3316a-lab5-kpate222.c9users.io:8081 website may contain links to external websites that are not provided or maintained by or in any way affiliated with Chordz</p>
    <p>Please note that the Chordz does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>
</div>